QWidget {
    background: #fff;
    color: #333;
}

QLineEdit {
    padding: 6px;
}

QTextEdit {
    padding: 6px;
}

#notebookManagerTitleLabel {
    color: #333;
}

#addNotebookButton {
    background: none;
    font-size: 18px;
    border: none;
    color: #333;
}

#addNoteButton {
    background: none;
    font-size: 16px;
    border: none;
    color: #333;
}

#QtreeWidget {
    background: #fff;
    border: none;
    color: #333;
}

QMenu {
    background: #e5e5e5;
    color: #333;
    border-radius: 6px;
    padding: 4px 3px 6px 2px;
}

QMenu::item:selected {
    background: #fff;
}

#contentHeaderWidgetLabel {
    color: #333;
}