QWidget {
    background: #fff;
    color: #333;
}

QLineEdit {
    padding: 6px;
}

QTextEdit {
    padding: 6px;
}

#notebookManagerTitleLabel {
    color: #333;
}

#addNotebookButton {
    background: none;
    font-size: 18px;
    border: none;
    color: #333;
}

#addNoteButton {
    background: none;
    font-size: 16px;
    border: none;
    color: #333;
}

#QtreeWidget {
    background: #fff;
    border: none;
    color: #333;
}

#contentHeaderWidgetLabel {
    color: #333;
}